<div class="top-panel-wrapper">
    <div class="top-panel__body">
        <div class="body__logo">
            <img src="/assets/img/logo.png" alt="Логотип проекта" [routerLink]="'/'" (click)="navigateToMainOrMap()"
            >
        </div>
        <div></div>
        <div class="body__icon">
            <p *ngIf="this.tokenService.getToken() === null" [routerLink]="'/login'">Войти</p>
            <nb-user *ngIf="this.checkUserName()"
                     [name]=concatName()
                     size="medium"
                     (click)="navigateToProfile()"
            >
            </nb-user>
        </div>
    </div>
</div>
