<div class="top-panel-wrapper">
    <div class="top-panel__body">
        <div class="body__logo">
            <img src="/assets/img/logo.png" alt="Логотип проекта" [routerLink]="'/'">
        </div>
        <div>
        </div>
        <div class="body__icon">
            <p *ngIf="this.tokenService.getToken() === null">Войти</p>
            <nb-user *ngIf="this.tokenService.getToken() != null"
                name="Иван Иванов"
                size="medium"
                (click)="navigateToProfile()"
            >
            </nb-user>
        </div>
    </div>
</div>
