<div class="profile-wrapper">
    <nb-card size="large" class="profile-form">
        <nb-card-header class="profile-form__header">
            <img src="../../../assets/img/login-icon.png" alt="Иконка личного кабинета">
            <div class="header__text">
                Личный кабинет
            </div>
        </nb-card-header>
        <nb-card-body class="profile-form__body">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"  (click)="validateForm()">
                <div class="body__input">
                    <label>Логин</label>
                    <input nbInput
                           fullWidth
                           type="text"
                           [formControlName]="'login'"
                           [nbTooltip]="this.tooltips['login'].tooltipText"
                           [nbTooltipDisabled]="!this.tooltips['login'].isShow"
                           nbTooltipStatus="danger"
                           [status]="changeInputStatus('login', profileForm.controls['login'].invalid)">
                </div>
                <div class="body__input">
                    <label>Почта</label>
                    <input nbInput
                           fullWidth
                           type="text"
                           [formControlName]="'email'"
                           [nbTooltip]="this.tooltips['email'].tooltipText"
                           [nbTooltipDisabled]="!this.tooltips['email'].isShow"
                           nbTooltipStatus="danger"
                           [textMask]="{mask: emailMask}"
                           [status]="changeInputStatus('email', profileForm.controls['email'].invalid)">
                </div>
                <div class="body__input">
                    <label>Телефон</label>
                    <input nbInput
                           fullWidth
                           type="text"
                           [formControlName]="'phoneNumber'"
                           [nbTooltip]="this.tooltips['phoneNumber'].tooltipText"
                           [nbTooltipDisabled]="!this.tooltips['phoneNumber'].isShow"
                           nbTooltipStatus="danger"
                           [status]="changeInputStatus('phoneNumber',profileForm.controls['phoneNumber'].invalid)">
                </div>
                <div class="body__input">
                    <label>ФИО</label>
                    <input
                        nbInput
                        fullWidth
                        type="text"
                        [formControlName]="'fullName'"
                        [nbTooltip]="this.tooltips['fullName'].tooltipText"
                        [nbTooltipDisabled]="!this.tooltips['fullName'].isShow"
                        nbTooltipStatus="danger"
                        [status]="changeInputStatus('fullName', profileForm.controls['fullName'].invalid)">
                </div>
                <div class="body__input_address">
                    <div class="city">
                        <label>Город</label>
                        <input
                            nbInput
                            fullWidth
                            type="text"
                            [formControlName]="'city'"
                            [nbTooltip]="this.tooltips['city'].tooltipText"
                            [nbTooltipDisabled]="!this.tooltips['city'].isShow"
                            nbTooltipStatus="danger"
                            [status]="changeInputStatus('city', profileForm.controls['city'].invalid)">
                    </div>
                    <div class="street">
                        <label>Улица</label>
                        <input
                            nbInput
                            fullWidth
                            type="text"
                            [formControlName]="'street'"
                            [nbTooltip]="this.tooltips['street'].tooltipText"
                            [nbTooltipDisabled]="!this.tooltips['street'].isShow"
                            nbTooltipStatus="danger"
                            [status]="changeInputStatus('street', profileForm.controls['street'].invalid)">
                    </div>
                    <div class="building">
                        <label>Дом</label>
                        <input nbInput
                               fullWidth
                               type="text"
                               [formControlName]="'building'"
                               [nbTooltip]="this.tooltips['building'].tooltipText"
                               [nbTooltipDisabled]="!this.tooltips['building'].isShow"
                               nbTooltipStatus="danger"
                               [status]="changeInputStatus('building',profileForm.controls['building'].invalid)">
                    </div>
                    <div class="letter">
                        <label>Литер</label>
                        <input nbInput
                               fullWidth
                               type="text"
                               [formControlName]="'letter'">
                    </div>
                    <div class="flat-number">
                        <label>Квартира</label>
                        <input nbInput
                               fullWidth
                               type="text"
                               [formControlName]="'flatNumber'">
                    </div>
                </div>
                <div class="body__button">
                    <button nbButton fullWidth status="primary" type="submit">СОХРАНИТЬ ДАННЫЕ</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>


