<div class="view-incident-wrapper">
    <nb-card accent="info" size="giant">
        <nb-card-header class="view__header">
            <div class="header__title">{{data?.messageSubject}}</div>
            <button nbButton size="small" class="header__button" status="danger" (click)="close()">
                <nb-icon icon="close-outline"></nb-icon>
            </button>
        </nb-card-header>
        <nb-card-body class="view__body">
            <div class="body__title">{{data?.rubricId === 0 ? 'Просроченные продукты' : 'Неправильная парковка'}}</div>
            <div class="swiper__button">

                <button (click)="slidePrev()" nbButton class="swiper__button-left">
                    <nb-icon icon="arrow-ios-back-outline"></nb-icon>
                </button>
                <swiper class="swiper"
                        #swiper
                        [slidesPerView]="1"

                        (swiper)="onSwiper($event)"
                        (slideChange)="onSlideChange()"

                >
                    <ng-container *ngIf="data?.photoUrls?.length">
                        <ng-container *ngFor="let imageUrl of data?.photoUrls">
                            <ng-template swiperSlide class="swiper__item"><img [src]="imageUrl"></ng-template>
                        </ng-container>
                    </ng-container>
                </swiper>
                <button (click)="slideNext()" nbButton class="swiper__button-right">
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                </button>
            </div>
            <div class="body__address">{{data?.address?.city }} {{data?.address?.street}} {{data?.address?.home}}</div>
            <div class="body__message">
                <p>{{data?.messageText}}
                </p></div>
        </nb-card-body>
        <nb-card-footer class="view__footer">
            <div class="footer__buttons">
                <button nbButton class="button__item">
                    <nb-icon icon="edit-2-outline"></nb-icon>
                </button>
                <button nbButton class="button__item" (click)="saveDocument()">
                    <nb-icon icon="save-outline"></nb-icon>
                </button>
                <button nbButton class="button__item">
                    <nb-icon icon="email-outline"></nb-icon>
                </button>

            </div>
        </nb-card-footer>
    </nb-card>
</div>
