<div class="change-password-wrapper">
    <nb-card size="medium" class="change-password-form">
        <nb-card-header class="change-password-form__header">
            <div class="header__text">
                Смена пароля
            </div>
        </nb-card-header>
        <nb-card-body class="change-password-form__body">
            <form [formGroup]="changePasswordForm">
                <div class="body__input">
                    <label>Новый пароль</label>
                    <nb-form-field>
                        <input nbInput
                               fullWidth
                               placeholder="Ваш новый пароль"
                               [formControlName]="'password'">
                    </nb-form-field>
                </div>
                <div class="body__input">
                    <label>Повторите пароль</label>
                    <nb-form-field>
                        <input nbInput
                               fullWidth
                               placeholder="Повторите ваш пароль"
                               [formControlName]="'repeatPassword'"
                        >
                    </nb-form-field>
                </div>
                <div class="body__button">
                    <button nbButton fullWidth status="primary" type="submit">ИЗМЕНИТЬ</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>
