<div class="change-password-wrapper">
    <nb-card size="medium" class="change-password-form">
        <nb-card-header class="change-password-form__header">
            <div class="header__text">
                Смена пароля
            </div>
        </nb-card-header>
        <nb-card-body class="change-password-form__body">
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="body__input">
                    <label>Новый пароль</label>
                    <nb-form-field>
                        <input nbInput
                               fullWidth
                               [type]="getPasswordInputType(inputTypes.PASSWORD)"
                               placeholder="Ваш новый пароль"
                               [nbTooltip]="this.tooltips['password'].tooltipText"
                               [nbTooltipDisabled]="!this.tooltips['password'].isShow"
                               nbTooltipStatus="danger"
                               [status]="changeInputStatus(changePasswordForm.controls['password'].invalid)"
                               [formControlName]="'password'">
                        <button nbSuffix nbButton ghost (click)="toggleShowPassword(inputTypes.PASSWORD)">
                            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                    pack="eva"
                                    [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                            </nb-icon>
                        </button>
                    </nb-form-field>
                </div>
                <div class="body__input">
                    <label>Повторите пароль</label>
                    <nb-form-field>
                        <input nbInput
                               fullWidth
                               [type]="getPasswordInputType(inputTypes.REPEAT_PASSWORD)"
                               placeholder="Повторите ваш пароль"
                               [nbTooltip]="this.tooltips['repeatPassword'].tooltipText"
                               [nbTooltipDisabled]="!this.tooltips['repeatPassword'].isShow || this.isRepeatPasswordValid"
                               nbTooltipStatus="danger"
                               [formControlName]="'repeatPassword'"
                               [status]="changeInputStatusForRepeatPassword(changePasswordForm.controls['repeatPassword'].invalid)"
                               (change)="repeatPasswordValidate($event)"
                        >
                        <button nbSuffix nbButton ghost (click)="toggleShowPassword(inputTypes.REPEAT_PASSWORD)">
                            <nb-icon [icon]="showRepeatPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                     pack="eva"
                                     [attr.aria-label]="showRepeatPassword ? 'hide password' : 'show password'">
                            </nb-icon>
                        </button>
                    </nb-form-field>
                </div>
                <div class="body__button">
                    <button nbButton fullWidth status="primary" type="submit">ИЗМЕНИТЬ</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>
