.top-panel-wrapper {
    width: 100%;

    .top-panel__body {
        display: grid;
        grid-template-columns: 50% 1fr 10%;

        .body__logo {
            height: 50px;

            img {
                margin-top: -123px;
                width: 300px;
                height: auto;
                cursor: pointer;
            }
        }

        .body__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            p:hover {
                color: cornflowerblue;
            }
        }
    }
}
