<div class="reset-password-wrapper">
    <nb-card size="medium" class="reset-password-form">
        <nb-card-header class="reset-password-form__header">
            <div class="header__text">
                Сброс пароля
            </div>
        </nb-card-header>
        <nb-card-body class="reset-password-form__body">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="body__input">
                    <label>Почта</label>
                    <input nbInput
                           fullWidth
                           type="text"
                           placeholder="Ваша Почта@mailbox.com"
                           [nbTooltip]="this.tooltips['email'].tooltipText"
                           [nbTooltipDisabled]="!this.tooltips['email'].isShow"
                           nbTooltipStatus="danger"
                           [formControlName]="'email'"
                           [status]="changeInputStatus(forgotPasswordForm.controls['email'].invalid)"
                           [textMask]="{mask: emailMask}">
                </div>
                <div class="body__button">
                    <button nbButton fullWidth status="primary" type="submit">СБРОСИТЬ ПАРОЛЬ</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>
