<div class="registration-wrapper">
    <div class="registration-alert">
        <nb-alert *ngIf="isAlertActive" status="success" closable (close)="onCloseAlert()">Вы успешно зарегистрировались!</nb-alert>
    </div>
    <nb-card size="large" class="registration-form">
        <nb-card-header class="registration-form__header">
            <div class="header__text">
                Регистрация
            </div>
        </nb-card-header>
        <nb-card-body class="registration-form__body">
            <form autocomplete="on" [formGroup]="registrationForm" (ngSubmit)="onSubmit()" (click)="validateForm()">
                <div class="body__input">
                    <label>Логин</label>
                    <input nbInput
                           fullWidth
                           type="text"
                           placeholder="Ваш логин"
                           [formControlName]="'login'"
                           [nbTooltip]="this.tooltips['login'].tooltipText"
                           [nbTooltipDisabled]="!this.tooltips['login'].isShow"
                           nbTooltipStatus="danger"
                           [status]="changeInputStatus('login', registrationForm.controls['login'].invalid)">
                </div>
                <div class="body__input">
                    <label>Почта</label>
                    <input nbInput
                           fullWidth
                           type="text"
                           placeholder="Ваша Почта@mailbox.com"
                           [formControlName]="'email'"
                           [nbTooltip]="this.tooltips['email'].tooltipText"
                           [nbTooltipDisabled]="!this.tooltips['email'].isShow"
                           nbTooltipStatus="danger"
                           [textMask]="{mask: emailMask}"
                           [status]="changeInputStatus('email', registrationForm.controls['email'].invalid)">
                </div>
                <div class="body__input">
                    <label>Пароль</label>
                    <nb-form-field>
                        <input nbInput
                               fullWidth
                               [type]="getPasswordInputType(inputTypes.PASSWORD)"
                               placeholder="Ваш пароль"
                               [nbTooltip]="this.tooltips['password'].tooltipText"
                               [nbTooltipDisabled]="!this.tooltips['password'].isShow"
                               nbTooltipStatus="danger"
                               [status]="changeInputStatus('password', registrationForm.controls['password'].invalid)"
                               [formControlName]="'password'">
                        <button nbSuffix nbButton ghost (click)="toggleShowPassword(inputTypes.PASSWORD)">
                            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                     pack="eva"
                                     [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                            </nb-icon>
                        </button>
                    </nb-form-field>
                </div>
                <div class="body__input">
                    <label>Повторите пароль</label>
                    <nb-form-field>
                        <input nbInput
                               fullWidth
                               [type]="getPasswordInputType(inputTypes.REPEAT_PASSWORD)"
                               placeholder="Повторите ваш пароль"
                               [nbTooltip]="this.tooltips['repeatPassword'].tooltipText"
                               [nbTooltipDisabled]="!this.tooltips['repeatPassword'].isShow || this.isRepeatPasswordValid"
                               nbTooltipStatus="danger"
                               [formControlName]="'repeatPassword'"
                               [status]="changeInputStatusForRepeatPassword(registrationForm.controls['repeatPassword'].invalid)"
                               (change)="repeatPasswordValidate($event)"
                        >
                        <button nbSuffix nbButton ghost (click)="toggleShowPassword(inputTypes.REPEAT_PASSWORD)">
                            <nb-icon [icon]="showRepeatPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                     pack="eva"
                                     [attr.aria-label]="showRepeatPassword ? 'hide password' : 'show password'">
                            </nb-icon>
                        </button>
                    </nb-form-field>
                </div>
                <div class="body__input">
                    <label>Телефон</label>
                    <input nbInput
                           fullWidth
                           type="text"
                           placeholder="+79990001122"
                           [formControlName]="'phoneNumber'"
                           [nbTooltip]="this.tooltips['phoneNumber'].tooltipText"
                           [nbTooltipDisabled]="!this.tooltips['phoneNumber'].isShow"
                           nbTooltipStatus="danger"
                           [status]="changeInputStatus('phoneNumber',registrationForm.controls['phoneNumber'].invalid)">
                </div>
                <div class="body__input">
                    <label>ФИО</label>
                    <input
                        nbInput
                        fullWidth
                        type="text"
                        placeholder="Фамилия Имя Отчество"
                        [nbTooltip]="this.tooltips['fullName'].tooltipText"
                        [nbTooltipDisabled]="!this.tooltips['fullName'].isShow"
                        nbTooltipStatus="danger"
                        [status]="changeInputStatus('fullName', registrationForm.controls['fullName'].invalid)"
                        [formControlName]="'fullName'">
                </div>
                <div class="body__input_address">
                    <div class="city">
                        <label>Город</label>
                        <input
                            nbInput
                            fullWidth
                            type="text"
                            placeholder="Самара"
                            [nbTooltip]="this.tooltips['city'].tooltipText"
                            [nbTooltipDisabled]="!this.tooltips['city'].isShow"
                            nbTooltipStatus="danger"
                            [status]="changeInputStatus('city', registrationForm.controls['city'].invalid)"
                            [formControlName]="'city'">
                    </div>
                    <div class="street">
                        <label>Улица</label>
                        <input
                            nbInput
                            fullWidth
                            type="text"
                            placeholder="Московское шоссе"
                            [nbTooltip]="this.tooltips['street'].tooltipText"
                            [nbTooltipDisabled]="!this.tooltips['street'].isShow"
                            nbTooltipStatus="danger"
                            [status]="changeInputStatus('street', registrationForm.controls['street'].invalid)"
                            [formControlName]="'street'">
                    </div>
                    <div class="building">
                        <label>Дом</label>
                        <input nbInput
                               fullWidth
                               type="text"
                               placeholder="1"
                               [nbTooltip]="this.tooltips['building'].tooltipText"
                               [nbTooltipDisabled]="!this.tooltips['building'].isShow"
                               nbTooltipStatus="danger"
                               [status]="changeInputStatus('building', registrationForm.controls['building'].invalid)"
                               [formControlName]="'building'">
                    </div>
                    <div class="letter">
                        <label>Литер</label>
                        <input nbInput
                               fullWidth
                               type="text"
                               placeholder="Б"
                               [formControlName]="'letter'">
                    </div>
                    <div class="flat-number">
                        <label>Квартира</label>
                        <input nbInput
                               fullWidth
                               type="text"
                               placeholder="1"
                               [formControlName]="'flatNumber'">
                    </div>
                </div>
                <div class="body__button">
                    <div class="login-link">
                        <label>Уже есть аккаунт? <a [routerLink]="'/login'">Войдите</a></label>
                    </div>
                    <button nbButton fullWidth status="primary" type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>

